# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

# ignore macOS stuff
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace